body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-top: 20px;
    font-size: 2em;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 2px solid #333;
    border-radius: 10px;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    img {
        margin-top: 10px;
    }
}